@font-face {
    font-family: 'UTMDemianKT';
    src: url('../fonts/UTMDemianKT.eot?#iefix') format('embedded-opentype'),  url('../fonts/UTMDemianKT.woff') format('woff'), url('../fonts/UTMDemianKT.ttf')  format('truetype'), url('../fonts/UTMDemianKT.svg#UTMDemianKT') format('svg');
    font-weight: normal;
    font-style: normal;
}
